html {
    width: 1300px;
    border: solid 1px yellow;
    justify-content: center;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-self: center;
    height: 60px;
}

h2 {
    margin-left: 40px;
    align-self: center;
}
.input {
    align-self: center;
    margin-left: 760px;
}

.email {
    border: none;
}

.bag {
    border: none;
}
.menu nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 950px;
}


.search{
    margin-top: -37px;
    margin-left: 1110px ;
}

.search input {
    border: none;
}

.drop-down-menu {

    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 95px;
    left: 0;
    z-index: 1;
    opacity: 0.9;
}

.drop-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    width: 216px;
    border: solid 1px gray;
    border-left: none;
    border-right: none;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    width: 216px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(255, 255, 255);
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #fff;
}

.dropdown:hover .drop-btn {
    background-color: #ffffff;
}

.catalog-filtered-product {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.href {
    text-decoration: none;
}

.product-description {
    text-align: center;
    color: black;
}

.price {
    text-align: center;
    color: black;
}

.new-product {
    color: gray;
    font-style: italic;
}

.discount-information-section {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.main-text-information-section {
    font-size: 30px;
}

.tagget-text-information-section {
    color: red
}

.subtext-information-section {
    color: gray;
    font-style: italic;
}

.first-products-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.first-products-section a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.product {
    width: 25%;
}

.product img {
    display: block;
    margin: 0 auto;
}

.product img:hover {
    filter: brightness(50%);
    color: red;
}

.name-product:hover {
    color: red;
}

.button {   
    width: 250px;
    margin: 0 auto;
}

.button-show-more {
    font-size: 20px;
    margin-top: 70px;
    border: solid 1px red;
    width: 250px;
    height: 50px;
    color: red;
    background-color: rgb(255, 255, 255);
}

.border-horizont {
    border: solid 1px gray;
    border-top: none;
    margin-top: 70px;
}

.best-product-section {
    display: flex;
    height: 383px;
}

.line-horizont-above-footer {
    border: solid 1px gray;
}

.information-menu {
    display: flex;
}

.border-horizont-information-menu {
    margin-top: 50px;
    border-top: 1px solid gray;
    border-top: none;
    width: 100%;
}

.helpful-links {
    width: 650px;
    display: flex;
}

.table-quick-links-information-menu {
    margin-left: 50px;   
    width: 200px; 
}

.table-quick-links-information-menu a {
    text-decoration: none;
    color: black;
}

.table-quick-links-information-menu p {
    padding-left: 37px;
    font-size: 22px;
}

.table-customer-care-information-menu a {
    text-decoration: none;
    color: black;
}

.table-quick-links-information-menu li {
    width: 100px;
    list-style-type: none;
}

.table-customer-care-information-menu {
    margin-left: 70px;
    width: 200px;
}

.table-customer-care-information-menu p {
    font-size: 22px;
    padding-left: 39px;
}

.table-customer-care-information-menu li {
    list-style-type: none;
}

.border-vertical-information-menu {
    border-left: solid 1px gray;
    margin-left: 20px;
    height: 400px;
}

.right-information-menu {
    width: 650px;
    height: 130px;
    display: flex;
}

.question-tweet-conteiner {
    margin-left: 80px;
    width: 200px;
    height: 50px;
}

.question-logo-name {
    font-size: 22px;
}

.tweet-conteiner {
display: flex;
height: 40px;
width: 170px;
justify-content: space-between;
}

.tweet-link {
    height: 25px;
    margin-top: 0px;
}

.tweet-link a {
    text-decoration: none;
    color: black;
}

.question-logo-img {
    height: 16px;
    margin-top: 0px;
}

.contact-tel-conteiner {
    margin-left: 50px;
    height: 100px;
    width: 200px;
}

.order-by-phone-name{
    font-size: 22px;
}

.contact-tel-link {
    text-decoration: none;
    color: #000;
}

.commet-main-conteiner {
    width: 600px;
    height: 110px;    
}
.commet {
    width: 400px;
    height: 70px;
    margin-left: 80px;
    color: gray;
    font-size: 17px;
}

.icons-fb-tw {
    width: 45px;
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
}

.border-horizont-footer {
    border: solid 1px gray;
    border-top: none;
}

.footer {
    display: flex;
}

.inc {
    margin-left: 30px;
}

.share {
    margin-left: 300px;
    font-size: 25px;
}
.footer-nav {
    width: 400px;
    align-self: center;
    margin-left: 155px;
}

.footer-nav nav li a {
    text-decoration: none;
    color: black;
}

.footer-nav nav li {
    list-style-type: none;
}

.footer-nav nav {
    display: flex;
    justify-content: space-between;
}
