
.href {
    text-decoration: none;
}

.product-description {
    text-align: center;
    color: black;
}

.price {
    text-align: center;
    color: black;
}

.new-product {
    color: gray;
    font-style: italic;
}

.discount-information-section {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.main-text-information-section {
    font-size: 30px;
}

.tagget-text-information-section {
    color: red
}

.subtext-information-section {
    color: gray;
    font-style: italic;
}

.first-products-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.first-products-section a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.product {
    width: 25%;
}

.product img {
    display: block;
    margin: 0 auto;
}

.product img:hover {
    filter: brightness(50%);
    color: red;
}

.name-product:hover {
    color: red;
}

.button {   
    width: 250px;
    margin: 0 auto;
}

.button-show-more {
    font-size: 20px;
    margin-top: 70px;
    border: solid 1px red;
    width: 250px;
    height: 50px;
    color: red;
    background-color: rgb(255, 255, 255);
}

.border-horizont {
    border: solid 1px gray;
    border-top: none;
    margin-top: 70px;
}

.best-product-section {
    display: flex;
    height: 383px;
}

.line-horizont-above-footer {
    border: solid 1px gray;
}
