.nav-menu {
    border: solid 1px gray;
    border-left: none;
    border-right: none;
    margin-top: 25px;
    width: 100%;
}

.nav-menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-menu p {
    margin-left: 80px;
    font-size: 18px;
    width: 216px;
}

.main-information {
    display: flex;
}

.main-img-product{
    margin-top: 60px;
    margin-left: 40px;
}


.main-description-text {
    margin-top: 60px;
    margin-left: 40px;
}

.img-product-small {
    display: flex;
}

.main-description-text h2 {
    font-size: 30px;
    margin: 30px 0 0 0;
}

.main-description-text i {
    font-size: 18px;
    line-height: 30px; 
}

.main-price-product {
    font-size: 35px;
    margin-top: 40px;
}

.options-product {
    width: 400px;
    height: 150px;  
}

/*button size and color section*/
.option-size-button {
    display: inline-block;
    margin-left: 20px;
}

.option-size-button input[type=radio] {
    display: none;
}

.option-size-button label {
    display: inline-block;
    padding: 5px 20px;
    user-select: none; 
    cursor: pointer;
    line-height: 35px;
    font-weight: bold;
}

.option-size-button input[type=radio]:checked+label {
    border: solid 1px #cfcfcf;
}


.options-product-color span {
    margin-top: 25px;  
}

.position-button-product-color {
    display: inline-flex;
    justify-content: space-between;
    width: 182px;
    margin-left: 15px;
}

.option-color-button {
    margin-top: 10px;
}

.option-color-button input[type=radio] {
    display: none;
}

.option-color-button label {
    display: inline-block;
    padding: 5px 20px;
    user-select: none; 
    cursor: pointer;
    line-height: 35px;
    font-weight: bold   ;
}

.option-color-button input[type=radio]:checked+label {
    border: solid 1px rgb(207, 207, 207);
}
/*end button size and color section*/


.link-buy-product {
    padding: 15px 130px;
    font-size: 30px;
    border: solid 1px #cfcfcf;
    text-decoration: none;
    color: black;
    margin-left: 60px;
    font-weight: bold;
}

.advertising {
    margin-top: 130px;
    display: flex;
    height: 340px;
    width: 100%;
    border-top: solid 1px #cfcfcf;
}

.advertising img {
    height: 340px;
}

.reglan {
    width: 634px;
}

.jeans,
.handbag {
    width: 323px;
}