.nav-menu {
    border: solid 1px gray;
    border-left: none;
    border-right: none;
    margin-top: 25px;
    width: 100%;
}

.nav-menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-menu p {
    margin-left: 80px;
    font-size: 18px;
    width: 216px;
}

.main-information {
    border: solid 1px red;
    display: flex;
}

.main-img-product {
    width: 50%;
    border: solid 1px yellow;
}

.img-product-small {
    display: flex;
}

.main-description-text {
    border: solid 1px green;
    width: 50%;
}

.main-description-text h2 {
    font-size: 30px;
    margin: 30px 0 0 0;
}

.main-description-text i {
    font-size: 18px;
    line-height: 30px; 
}

.main-price-product {
    font-size: 35px;
    margin-top: 40px;
}

.size-product {
    width: 53%;
}

.size-product ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.size-product span {
    text-align: center;
    padding: 10px 0;
    text-align: center;
    width: 80px;
    margin-left: -65px;
}

.size-product li {
    border: solid 1px black;
    padding: 10px 0;
    text-align: center;
    width: 80px;
}

.size-product a {
    text-decoration: none;
    color: black; 
}

.color-product {
    margin-top: 30px;
    width: 40%;
}

.color-product ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.color-product span {
    padding: 10px 0;
    text-align: center;
    width: 80px;
    margin-left: -60px;
}

.color-product li {
    border: solid 1px black;
    padding: 10px 0;
    text-align: center;
    width: 80px;
}

.color-product a {
    text-decoration: none;
    color: black; 
}