.logo {
    display: flex;
    align-self: center;
    height: 60px;
}

.logo a {
    text-decoration: none;
    color: black;
}

.email {
    border: none;
}

.bag {
    border: none;
}
.menu nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 950px;
}

.search{
    margin-top: -37px;
    margin-left: 1110px ;
}

.search input {
    border: none;
}

.menu a {
    text-decoration: none;
    color: black;
}
