.product {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.product:hover .pop-up-text {
    display: block;
}

.product-picture-wrapper {
    position: relative;
}

.pop-up-text {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%,-50%); /* TODO transform translate!! */
    font-weight: bold;
    color: red;
    font-size: 25px;
}

.product img {
    width: 260px;
    margin: 0 auto;
}

.product:hover img {
    filter: brightness(50%);
}

.product:hover .name-product {
    color: red;
}

.link-product {
    text-decoration: none;
}
