html {
    width: 1300px;
    justify-content: center;
    margin: 0 auto;
}

h2 {
    margin-left: 40px;
    align-self: center;
}

.input {
    align-self: center;
    margin-left: 760px;
}



/**

 */

.banners {
    display: flex;
}

h1 {
    text-align: center;
    margin-top: 50px;
}


.arrivals button {
    margin-left: 550px;
    border: none;
}
.button {
    font-size: 40px;
}

