<div class="drop-down-menu">
    <div class="dropdown">
        <button class="drop-btn">Fashion</button>
            <div class="dropdown-content">
                <a href="#">Ссылка 1</a>
                <a href="#">Ссылка 2</a>
                <a href="#">Ссылка 3</a>
            </div>
    </div>

    <div class="dropdown">
        <button class="drop-btn">Product type</button>
            <div class="dropdown-content">
                <a href="#">Ссылка 1</a>
                <a href="#">Ссылка 2</a>
                <a href="#">Ссылка 3</a>
            </div>
    </div>

    <div class="dropdown">
        <button class="drop-btn">Color</button>
        <div class="dropdown-content">
            <div class="dropdown-content">
                <a href="#">Ссылка 1</a>
                <a href="#">Ссылка 2</a>
                <a href="#">Ссылка 3</a>
            </div>
        </div>
    </div>

    <div class="dropdown">
        <button class="drop-btn">Brand</button>
        <div class="dropdown-content">
            <a href="#">Ссылка 1</a>
            <a href="#">Ссылка 2</a>
            <a href="#">Ссылка 3</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="drop-btn">Size</button>
        <div class="dropdown-content">
            <a href="#">Ссылка 1</a>
            <a href="#">Ссылка 2</a>
            <a href="#">Ссылка 3</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="drop-btn">Price range</button>
        <div class="dropdown-content">
            <a href="#">Ссылка 1</a>
            <a href="#">Ссылка 2</a>
            <a href="#">Ссылка 3</a>
        </div>
    </div>
</div>