<div class="information-menu">
    <div class="helpful-links">
        <div class="table-quick-links-information-menu">
            <p>Quick Links</p>
            <ul>
                <li><a href="#"> Store locator</a></li>
                <li><a href="#"> Gift cards</a></li>
                <li><a href="#"> Size guide</a></li>
                <li><a href="#"> About us</a></li>
                <li><a href="#"> Support</a></li>
            </ul>
        </div>
        <div class="table-customer-care-information-menu">
            <p>Customer Care</p>
            <ul>
                <li><a href="#"> Costumer service</a></li>
                <li><a href="#"> Track my order</a></li>
                <li><a href="#"> Return police</a></li>
                <li><a href="#"> Shipping & delivery</a></li>
                <li><a href="#"> Contact us</a></li>
                <li><a href="#"> Careers </a></li>
            </ul>
        </div>
    </div>

    <div class="border-vertical-information-menu"></div>

    <div class="main-right-menu">
        <div class="right-information-menu">
            <div class="question-tweet-container">
                <p class="question-logo-name">Question</p>
                <div class="tweet-container">
                    <img alt="tweetter" class="question-logo-img" src="@root/src/assets/img/icons/twittergrey_icon.png">
                    <p class="tweet-link">Tweet us <a href="#"><b>@template</b></a></p>
                </div>
            </div>
            <div class="contact-tel-container">
                <p class="order-by-phone-name">Order by phone</p>
                <a class="contact-tel-link" href="tel:8-800-409-47-12"> 8-800-409-47-12</a>
            </div>
        </div>
        <div class="commet-main-container">
            <div>
                <p class="commet"><i>We have own delivery service which <br> operaties in 23 major European
                    cities.Delivery<br> time - 3-5 days</i></p>
            </div>
        </div>
        <div class="social-networks">
            <div><a href="#"><img alt="fb" src="@root/src/assets/img/icons/fb_icon.png"></a></div>
            <div><a href="#"><img alt="" src="@root/src/assets/img/icons/twitter_icon.png"></a></div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="inc"><p>©2010-2015, The Template Group inc.</p></div>
    <div>
        <p><span class="share"><b>Share</b></span>&nbsp;1500</p>
    </div>
    <div class="footer-nav">
        <nav>
            <li><a href="#"><b>Legal notice</b></a></li>
            <li><a href="#"><b>Privacy polocy</b></a></li>
            <li><a href="#"><b>Site map</b></a></li>
        </nav>
    </div>
</div>
