<header>
    <div class="logo">
        <a href="index.html"><h2>Template</h2></a>
        <div class="input">
            <input class="email" placeholder="E-mail sing up">
            <button class="bag">Bag (0)</button>
        </div>
    </div>
    <div class="menu">
        <nav>
            <ul>
                <li><a href="src/pages/catalog.html">Woman</a></li>
                <li><a href="#">Man</a></li>
                <li><a href="#">Handbags</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Sale</a></li>
                <li><a href="#">New Arrivals</a></li>
                <li><a href="#">Clearance</a></li>
                <li><a href="#">Store Locator</a></li>
            </ul>
        </nav>
    </div>
    <div class="search">
        <input placeholder="search" type="text">
    </div>
</header>
